{% import "_includes/forms" as forms %}

{{ forms.textField({
  label: "Heading"|t,
  id: 'heading',
  name: 'heading',
  value: (settings.heading is defined) ? settings.heading : '',
  errors: (settings.heading is defined) ? settings.getErrors('heading') : ''  
}) }}

{{ forms.textField({
  label: "Description"|t,
  id: 'description',
  name: 'description',
  value: (settings.description is defined) ? settings.description : '',
  errors: (settings.description is defined) ? settings.getErrors('description') : ''  
}) }}

{{ forms.textField({
  label: "Result Prefix"|t,
  name: 'resultPrefix',
  value: (settings.resultPrefix is defined) ? settings.resultPrefix : '',
  errors: (settings.resultPrefix is defined) ? settings.getErrors('resultPrefix') : ''  
}) }}

{{ forms.textareaField({
  label: "Query"|t,
  instructions: "Raw SQL query that returns a single number.",
  id: 'query',
  name: 'query',
  value: (settings.query is defined) ? settings.query : '',
  errors: (settings.query is defined) ? settings.getErrors('query') : ''  
}) }}
