/* BASE STYLES
-----------------------------------*/

.tablecontent tr {
	height: 50px;
	max-height: 50px;
	overflow: hidden;
}

.tablecontent thead tr {
	height: 12px;
}

.tablecontent td, .tablecontent th {
	min-width: 180px;
}

.tablecontent td {
	border-right: 1px solid #eee;
}

.tablecontent tr td:last-child  {
	border-right: 0px solid transparent;
}


/* SELECT REPORT HEADING
-----------------------------------*/

.selectreport {
	margin-left: -25px;
}

.selectreport h3,
.selectreport form {
	margin-left: 25px;
}

.selectreport form {
	margin-bottom: 20px;
}

.selectreport td {
	min-width: 220px;
}


/* RESULTS DATA
-----------------------------------*/

.pane {
	overflow: auto;
}

.tableview th.sproutreports-reportname {
	vertical-align:top;
}

.tableview td.sproutreports-reportname,
.tableview td.sproutreports-reportdescription,
.tableview td.sproutreports-reportactions {
	vertical-align:text-top;
}

form.btn-download {
	display: inline;
}

form.btn-download input {
	outline: none;
}

.tableview.sproutreports {
    overflow: auto
}

/* Override default a tag fieldtoggle behavior to play more nicely with instructions text
@todo - merge into global sprout stylesheet. Used in Sprout SEO too.
*/
body.ltr a.instructionstoggle {
	padding-left: 0;
}
a.instructionstoggle {
	display: inline;
}
a.instructionstoggle:before {
	content: '';
}

a.fieldtoggle.instructionstoggle {
	color: #0d78f2;
}