/* BASE STYLES
-----------------------------------*/

.tablecontent tr {
	height: 50px;
	max-height: 50px;
	overflow: hidden;
}

.tablecontent thead tr {
	height: 12px;
}

.tablecontent td, .tablecontent th {
	min-width: 180px;
}

.tablecontent td {
	border-right: 1px solid #eee;
}

.tablecontent tr td:last-child  {
	border-right: 0px solid transparent;
}


/* SELECT REPORT HEADING
-----------------------------------*/

.selectreport {
	margin-left: -25px;
}

.selectreport h3,
.selectreport form {
	margin-left: 25px;
}

.selectreport form {
	margin-bottom: 20px;
}

.selectreport td {
	min-width: 220px;
}


/* RESULTS DATA
-----------------------------------*/

.pane {
	overflow: auto;
}

.tableview th.sproutreports-reportname {
	vertical-align:top;
	width:20%;
}

.tableview th.sproutreports-reportactions {
	width:25%;
}

.tableview td.sproutreports-reportname,
.tableview td.sproutreports-reportdescription,
.tableview td.sproutreports-reportactions {
	vertical-align:text-top;
}

.tableview td.sproutreports-reportactions {
	text-align: right;
}

form.btn-download {
	display: inline;
}

form.btn-download input {
	outline: none;
}