table.data tbody th,
table.data tbody td {
	vertical-align: top;
}

table.data thead th {
	padding: 10px 15px 10px 25px !important;
}

td, th {
	min-width: 180px;
}

td {
	border-right: 1px solid #eee;
	padding: 0 !important;
}

.table_row {
	background-image: url("../img/arrows.png");
	background-repeat: no-repeat;
	background-position: 4px -50px;
	padding-left: 30px;
	cursor: pointer;
	-webkit-transition: background-color linear 0.5s;
	   -moz-transition: background-color linear 0.5s;
	     -o-transition: background-color linear 0.5s;
	        transition: background-color linear 0.5s;
}

.table_row:hover {
	background-position: 4px 10px;
}

.table_row.expanded {
	background-color: #fafafa;
}

.table_row.expanded:hover {
}

td:hover {
}

td:last-child  {
	border-right: 0px solid transparent;
}

tr {
	max-height: 50px;
	overflow: hidden;
}

.tableview {
	background: #fff;
	border: 1px solid #eee;
	margin: 0 -30px -30px;
}

.tablecontent {
	overflow: auto;
}

.tablefade {
	height: 100%;
	width: 60px;
	right: 0;
	margin-bottom: 30px;
	position: absolute;
	z-index: 100;
	background: url("../img/fade.png") right top repeat-y transparent;
}

.item_content {
	min-height: 40px;
	height: 40px;
	overflow: hidden;
	padding: 10px 15px 0 25px;
	display: block;
}

#content {
}

#main {
	overflow: hidden;
}