{% extends "_layouts/cp" %}


{% set title = "CraftDiscover"|t %}

{% set tabs = {
    home: { label: "Home"|t, url: url('craftdiscover') },
    paidreg:    { label: "Paid Registrations"|t, url: url('craftdiscover/reports/paidreg') },
    papers:    { label: "Papers Submitted"|t, url: url('craftdiscover/reports/papers') },
    paperowners:    { label: "Authors with Submitted Papers"|t, url: url('craftdiscover/reports/paperowners') }
} %}


{% set hoverScript %}


$('.tablecontent').hover(
	function() {
		$('.tablefade').fadeOut( 500 ).addClass('hide-fade');
	}, function() {
		$('.tablefade').fadeIn( 500 ).removeClass('hide-fade');
});

$('.table_row').hover(
	function(){
		$(this).children().find(".item_content").animateAutoHeight();
		$(this).css({backgroundColor : '#fafafa'});
	}, function(){
		$(this).children().find(".item_content").animate({ height : '100px'}, {queue: false});
		$(this).css({backgroundColor : 'transparent'});
	}
);

{% endset %}



{% includeJsResource "craftdiscover/js/fade.js" %}

{% includeCssResource "craftdiscover/css/styles.css" %}

{% includeJs hoverScript %}