{% import "_includes/forms" as forms %}

{% if errorMessage %}

	<p class="warning">{{ errorMessage }}</p>

{% else %}

	{{ forms.selectField({
		label: "Section"|t,
		instructions: "Section for which you want to report category usage"|t,
		name: 'options[sectionId]',
		options: sectionOptions,
		value: (options.section is defined ? options.section : null)
	}) }}

	{{ forms.selectField({
		label: "Category Group"|t,
		instructions: "Category group for which you want report category usage"|t,
		name: 'options[categoryGroupId]',
		options: categoryGroupOptions,
		value: (options.categoryGroupId is defined ? options.categoryGroupId : null)
	}) }}

{% endif %}