{%- import "_includes/forms" as forms -%}

{%- set resultsTemplate = options.resultsTemplate is defined ? options.resultsTemplate : "" -%}
{% set optionsTemplate = options.optionsTemplate is defined ? options.optionsTemplate : "" -%}
{%- set showTemplateSettings = craft.request.getSegment(3) == 'view' ? false : true -%}

{%- if optionContents %}

	{%- namespace 'options' %}
		{{- optionContents|raw -}}
	{% endnamespace -%}

	<hr>
{%- endif -%}

{%- if showTemplateSettings %}

	{% if not optionsTemplate %}

		{{ forms.field({
			label: "Custom Options"|t,
			instructions: "Add an Options Template and 'Save and continue editing' this Custom Twig Report to display your
			Custom Options settings here. See the Custom Twig Template Report page in the Sprout Reports documentation to
			ensure your options can be saved and display with a Craft-friendly look and feel."|t,
		}, null) }}

		<hr>

	{% endif %}

	<p>
		<a href='#' class='fieldtoggle settings {{ resultsTemplate or optionsTemplate ?: 'expanded' }}' data-target='toggle-templateoptions'>
			{{ "Template Settings"|t }}
		</a>
	</p>


	<div id="toggle-templateoptions" class="{{ resultsTemplate or optionsTemplate ? 'hidden' : 'expanded' }}">

		{{ forms.textField({
			name: "options[resultsTemplate]",
			label: "Results Template"|t,
			instructions: "The file in your templates folder to use to display results for this report.",
			class: "nicetext code",
			required: true,
			first: true,
			value: resultsTemplate,
			errors: errors['resultsTemplate'] is defined ? errors['resultsTemplate'] : null
		}) }}

		{{ forms.textField({
			name: "options[optionsTemplate]",
			label: "Options Template"|t,
			instructions: "The file in your templates folder to use to display options for this report.",
			class: "nicetext code",
			value: options.optionsTemplate is defined ? options.optionsTemplate : "",
			errors: errors['optionsTemplate'] is defined ? errors['optionsTemplate'] : null
		}) }}

	</div>

{% endif -%}