{% import "_includes/forms" as forms %}

{% set resultsTemplate = options.resultsTemplate is defined ? options.resultsTemplate : "" %}
{% set optionsTemplate = options.optionsTemplate is defined ? options.optionsTemplate : "" %}

{% if optionContents %}

	{{ optionContents|raw }}

	{% if craft.request.getSegment(3) != 'view' %}

		<hr>

		<p>
			<a href='#' class='fieldtoggle settings' data-target='toggle-templateoptions'>
				{{ "Template Settings"|t }}
			</a>
		</p>

	{% endif %}

{% else %}

	{{ forms.field({
		label: "Custom Options"|t,
		instructions: "Add an Options Template below to create Custom Options for your Twig report. Follow the Twig
		Template Report Custom Options Guidelines to ensure your options use the right conventions so that can be saved
		and are styled like other fields in the Craft Control Panel. Once you identify your options template, the options
		 you define in that file will display in place of this message."|t,
	}, null) }}

	<hr>

{% endif %}

<div id="toggle-templateoptions" class="{{ resultsTemplate and optionContents ? 'hidden' : '' }}">

	{{ forms.textField({
		name: "options[resultsTemplate]",
		label: "Results Template"|t,
		instructions: "The file in your templates folder to use to display results for this report.",
		class: "nicetext code",
		required: true,
		first: true,
		value: resultsTemplate,
		errors: errors['resultsTemplate'] is defined ? errors['resultsTemplate'] : null
	}) }}

	{{ forms.textField({
		name: "options[optionsTemplate]",
		label: "Options Template"|t,
		instructions: "The file in your templates folder to use to display options for this report.",
		class: "nicetext code",
		value: options.optionsTemplate is defined ? options.optionsTemplate : "",
		errors: errors['optionsTemplate'] is defined ? errors['optionsTemplate'] : null
	}) }}

</div>
