{% extends "_layouts/cp" %}

{% block content %}

  {% if craft.request.getSegment(2) != 'results' %}
  <br/>
  <footer class="bsd-branding">
    <p>
      Powered by <a href="http://barrelstrengthdesign.com" target="_blank">Sprout Reports</a> {{ craft.sproutReports.version }} | 
      Designed by <a href="http://barrelstrengthdesign.com" target="_blank">(Barrel Strength)</a>
    </p>
  </footer>
  {% endif %}

{% endblock %}

{% if craft.request.getSegment(2) == 'results' %}
	{% includeCssResource "sproutreports/css/jquery.jscrollpane.css" %}
	{% includeCssResource "sproutreports/css/styles.css" %}

	{% includeJsResource "sproutreports/js/jquery.jscrollpane.min.js" %}
	{% includeJsResource "sproutreports/js/jquery.mousewheel.js" %}
	{% includeJsResource "sproutreports/js/scripts.js" %}
{% endif %}

{% set brandCss %}
  footer.bsd-branding {
    bottom:10px;
    color:#999;
    font-size:11px;
    position:absolute;
    right:30px;
  }
  footer.bsd-branding a {
    color:#999;
    font-weight:bold;
  }
{% endset %}

{% includeCss brandCss %}