{% extends "craftdiscover/_inc/boilerplate" %}

{% set content %}
    <p>Hello!</p>
{% endset %}


{% set content %}
{% if myEntries is not defined %}{% set myEntries = null %}{% endif %}
{% if tableCols is not defined %}{% set tableCols = null %}{% endif %}
{% import "_includes/forms" as forms %}

<div class="selectreport">
<dl>
<dt>Authors with Submitted Papers</dt>
<dd><form method="post" action="" accept-charset="UTF-8">
    <input type="hidden" name="action" value="craftDiscover/reports/savedQuery" />
        <input type="hidden" name="queryType" value="paperOwners" />
        <div>
            <input type="submit" class="btn submit" name="show" value="{{ 'Display Data'|t }}">
            <label style="display: inline-block; width: auto; margin-left: 1em;"><input type="checkbox" name="exportData" value="Y" /> Export as CSV?</label>
        </div>
</form>
</dd>

<dt>Papers Submitted</dt>
<dd><form method="post" action="" accept-charset="UTF-8">
    <input type="hidden" name="action" value="craftDiscover/reports/savedQuery" />
        <input type="hidden" name="queryType" value="papersSubmitted" />
        <div>
            <input type="submit" class="btn submit" name="show" value="{{ 'Display Data'|t }}">
            <label style="display: inline-block; width: auto; margin-left: 1em;"><input type="checkbox" name="exportData" value="Y" /> Export as CSV?</label>
        </div>
</form>
</dd>
<dt>Paid Registrations</dt>
<dd><form method="post" action="" accept-charset="UTF-8">
        <input type="hidden" name="action" value="craftDiscover/reports/savedQuery" />
        <input type="hidden" name="queryType" value="paidReg" />

        <div>
            <input type="submit" class="btn submit" name="show" value="{{ 'Display Data'|t }}">
            <label style="display: inline-block; width: auto; margin-left: 1em;"><input type="checkbox" name="exportData" value="Y" /> Export as CSV?</label>
        </div>
    </form>
</dd>

</dl>
</div>


<div class="tableview">
    <table class="data">
        <thead>
            <tr>
        {% for item in tableCols %}
        <th>{{ item }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
        {% for item in myEntries %}
        <tr>
            {% for keyname in tableCols %}
                <td>{{ item[keyname] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endset %}
