{% extends "sproutreports/_layouts/base" %}

{% set title = craft.sproutReports.name|t %}

{% block content %}
	
	<style type="text/css">
	.report-row:hover {
		background-color: #fafafa;
		/*cursor: pointer;*/
	}
	.data th.first, 
	.data td.first {
		padding-left: 10px;
	}
	</style>

	{% set reports = craft.sproutReports.allReports() %}

	{% if reports|length %}
		{% for report in reports %}
			{% if loop.first %}
			<div class="tableview">
				<table class="data">
					<thead>
						<tr>
							<th scope="col" data-attribute="title" class="first">Report Name</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
			{% endif %}

					<tr class="report-row">
						<td class="first">
							<a href="{{ url('sproutreports/results/' ~ report.id) }}">
								{{ report.name }}
							</a>
						</td>
						<td style="text-align:right;">

							{% if currentUser.can('editReports') %}
							<a href="{{ url( 'sproutreports/reports/edit/' ~ report.id ) }}" class="btn small" style="float:right;display:inline-block;margin-right:10px;">
								Edit
							</a>
							{% endif %}

							<form action="" method="post" accept-charset="UTF-8" style="float:right;margin-right:10px;">
								<input type="hidden" name="action" value="sproutReports/reports/runReport">
								<input type="hidden" name="reportId" value="{{ report.id }}">
								<input type="hidden" name="exportData" value="1">
								<input type="button" value="Export CSV" class="btn small formsubmit">
							</form>

							<a href="{{ url( 'sproutreports/results/' ~ report.id ) }}" class="btn small" style="float:right;display:inline-block;margin-right:10px;">
								Run Report
							</a>
						</td>
					</tr>

			{% if loop.last %}
					</tbody>
				</table>
			</div>
			{% endif %}
		{% endfor %}

	{% else %}
	    <p>Create your first report!</p>
	{% endif %}

	{{ parent() }}

{% endblock %}	


{% block sidebar %}
	{% if currentUser.can('editReports') %}

	<div class="buttons">
		<a href="{{ url('sproutreports/reports/new') }}" class="btn submit add icon">New Report</a>
	</div>

	{# {% if newEntrySections|length %}
		<div class="buttons">
			{% if newEntrySections|length > 1 %}
				<div class="btn submit menubtn add icon">{{ "New Entry"|t }}</div>
				<div class="menu">
					<ul>
						{% for section in newEntrySections %}
							<li><a href="{{ url('entries/'~section.handle~'/new') }}">{{ section.name|t }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				<a class="btn submit add icon" href="{{ url('entries/'~newEntrySections[0].handle~'/new') }}">{{ "New Entry"|t }}</a>
			{% endif %}
		</div>
	{% endif %}

	{{ parent() }} #}
	{% endif %}
{% endblock %}