{% extends "sproutreports/_layouts/base" %}

{% set title = craft.sproutReports.name|t %}

{% set groups = craft.sproutReports.getAllReportGroups('id') %}

{% if groupId is defined %}
	{% if groups[groupId] is not defined %}
		{% exit 404 %}
	{% endif %}

	{% set reports = craft.sproutReports.getReportsByGroupId(groupId) %}
{% else %}
	{% set reports = craft.sproutReports.getAllReports() %}
{% endif %}

{% block content %}
	
	<style type="text/css">
	.report-row:hover {
		background-color: #fafafa;
		/*cursor: pointer;*/
	}
	.data th.first, 
	.data td.first {
		padding-left: 10px;
	}
	</style>

	{% if reports|length %}
		{% for report in reports %}
			{% if loop.first %}
			<div class="tableview">
				<table class="data fullwidth">
					<thead>
						<tr>
							<th scope="col" data-attribute="title" class="first">Report Name</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
			{% endif %}

					<tr class="report-row">
						<td class="first">
							<a href="{{ url('sproutreports/results/' ~ report.id) }}">
								{{ report.name }}
							</a>
						</td>
						<td style="text-align:right;">

							{% if currentUser.can('editReports') %}
							<a href="{{ url( 'sproutreports/reports/edit/' ~ report.id ) }}" class="btn small" style="float:right;display:inline-block;margin-right:10px;">
								Edit
							</a>
							{% endif %}

							<form action="" method="post" accept-charset="UTF-8" style="float:right;margin-right:10px;">
								<input type="hidden" name="action" value="sproutReports/reports/runReport">
								<input type="hidden" name="reportId" value="{{ report.id }}">
								<input type="hidden" name="exportData" value="1">
								<input type="button" value="Export CSV" class="btn small formsubmit">
							</form>

							<a href="{{ url( 'sproutreports/results/' ~ report.id ) }}" class="btn small" style="float:right;display:inline-block;margin-right:10px;">
								Run Report
							</a>
						</td>
					</tr>

			{% if loop.last %}
					</tbody>
				</table>
			</div>
			{% endif %}
		{% endfor %}

	{% else %}
	    <p>Create your first report!</p>
	{% endif %}

	{% if currentUser.can('editReports') %}
	<div class="buttons">
		<a href="{{ url('sproutreports/reports/new') }}" class="btn submit add icon">New Report</a>
	</div>
	{% endif %}

	{{ parent() }}

{% endblock %}	


{% block sidebar %}
	{% if currentUser.can('editReports') %}

	<nav>
		<ul id="groups">
			
		 	<li><a href="{{ url('sproutreports') }}"{% if groupId is not defined %} class="sel"{% endif %}>{{ "All Reports"|t }}</a></li>
            {% if 'sproutreports' in craft.plugins.plugins()|keys %}
                        <li><a href="{{ url('sproutreports/reports/forms') }}">Forms</a></li>
            {% endif %}
			{% for group in groups %}
				<li><a href="{{ url('sproutreports/'~group.id) }}"{% if groupId is defined and group.id == groupId %} class="sel"{% endif %} data-id="{{ group.id }}">{{ group.name }}</a></li>
			{% endfor %} 

		</ul>
	</nav>

	<div class="buttons">
		<div id="newgroupbtn" class="btn add icon">{{ "New Group"|t }}</div>

		{% if groupId is defined %}
			<div id="groupsettingsbtn" class="btn settings icon menubtn" title="{{ 'Settings' }}"></div>
			<div class="menu">
				<ul>
					<li><a data-action="rename" role="button">{{ "Rename selected group"|t }}</a></li>
					<li><a data-action="delete" role="button">{{ "Delete selected group"|t }}</a></li>
				</ul>
			</div>
		{% endif %}
	</div>

	{% endif %}
{% endblock %}

{% includeJsResource "sproutreports/js/groups.js" %}