{% import "_includes/forms" as forms %}

{% if setupRequiredMessage %}

    <ul class="errors">
        <li>{{ setupRequiredMessage }}</li>
    </ul>

{% else %}

    {{ forms.selectField({
        label: "Section"|t('sprout-reports'),
        instructions: "Section for which you want to report category usage"|t('sprout-reports'),
        name: 'settings[sectionId]',
        settings: sectionSettings,
        value: settings.sectionId is defined ? settings.sectionId : null,
        errors: errors['sectionId'] is defined ? errors['sectionId'] : null,
        first: true
    }) }}

    {{ forms.selectField({
        label: "Category Group"|t('sprout-reports'),
        instructions: "Category group for which you want report category usage"|t('sprout-reports'),
        name: 'settings[categoryGroupId]',
        settings: categoryGroupSettings,
        value: settings.categoryGroupId is defined ? settings.categoryGroupId : null,
        errors: errors['categoryGroupId'] is defined ? errors['categoryGroupId'] : null
    }) }}

{% endif %}