{%- import "_includes/forms" as forms -%}
{% import 'sprout-base/_includes/sproutcp' as sprout %}
{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assets\\cp\\CpAsset") %}

{%- set resultsTemplate = settings.resultsTemplate is defined ? settings.resultsTemplate : "" -%}
{%- set settingsTemplate = settings.settingsTemplate is defined ? settings.settingsTemplate : "" -%}
{%- set reportSettingsPage = craft.app.request.getSegment(3) != 'view' ? true : false -%}

{%- if settingsContents %}

    {%- namespace 'settings' %}
        {{- settingsContents|raw -}}
    {% endnamespace -%}

{% else %}

    {% set boxBody %}
        <p>{{ "Migrate to Craft with all of your existing website metadata using Sprout SEO and <a href='{url}' target='_blank'>Sprout Import</a>. Sprout Import makes it easy to keep your Search, Social Sharing, Geo, and Robots metadata, and gives you the opportunity to enhance it with additional Structured Data and improve your workflow."|t('sprout-reports', {
                url: "https://sprout.barrelstrengthdesign.com/craft-plugins/import"
            })|raw }}</p>
    {% endset %}

    {% set boxBody %}
        <p>{{ "Give your users the ability to refine their results with a date range, lightswitch, and more. Build custom Twig Template reports with a Craft-friendly look and feel. [Learn more]({url})."|t('sprout-reports', {
                url: "https://sprout.barrelstrengthdesign.com/craft-plugins/reports/docs/custom-reports/custom-twig-template-report"
            })|markdown }}</p>
    {% endset %}

    {{ sprout.mediaBox({
        heading: "Give your users options"|t('sprout-reports'),
        body: boxBody,
        resourcePath: '@sproutbase/app/reports/web/assets/base/dist/images/icon.svg'
    }) }}

{%- endif -%}

<hr>

<div class="{{ not reportSettingsPage ? 'hidden' }}">

    <p>
        <a href='#'
           class='fieldtoggle settings {{ settingsContents ? 'collapsed' : 'expanded' }}'
           data-target='toggle-templatesettings'>
            {{ "Template Settings"|t('sprout-reports') }}
        </a>
    </p>

    <div id="toggle-templatesettings"
         class="{{ settingsContents ? 'hidden' : 'expanded' }}">

        {{ forms.textField({
            name: "settings[resultsTemplate]",
            label: "Results Template"|t('sprout-reports'),
            instructions: "The template to use to display results. Learn more about <a href='{url}'>Results Templates</a>."|raw|t('sprout-reports', {
                url: 'https://sprout.barrelstrengthdesign.com/craft-plugins/reports/docs/custom-reports/custom-twig-template-report'
            }),
            class: "nicetext code",
            required: true,
            first: true,
            placeholder: "_reports/reportname/results",
            value: resultsTemplate,
            errors: errors['resultsTemplate'] is defined ? errors['resultsTemplate'] : null
        }) }}

        {{ forms.textField({
            name: "settings[settingsTemplate]",
            label: "Settings Template"|t('sprout-reports'),
            instructions: "The template to use to display settings. Learn more about <a href='{url}'>Settings Templates</a>."|raw|t('sprout-reports', {
                url: 'https://sprout.barrelstrengthdesign.com/craft-plugins/reports/docs/custom-reports/custom-twig-template-report'
            }),
            class: "nicetext code",
            placeholder: "_reports/reportname/settings",
            value: settings.settingsTemplate is defined ? settings.settingsTemplate : "",
            errors: errors['settingsTemplate'] is defined ? errors['settingsTemplate'] : null
        }) }}

    </div>

</div>