{% import "_includes/forms" as forms %}

{{ forms.checkboxSelectField({
    label: "User Groups"|t('sprout-reports'),
    instructions: "Select the user groups to include in your report. All by default."|t('sprout-reports'),
    name: "settings[userGroups]",
    settings: userGroupSettings,
    errors: errors.userGroups is defined ? errors.userGroups : '',
    values: settings.userGroups is defined ? settings.userGroups : null,
    first: true
}) }}

{{ forms.lightswitchField({
    label: "Display User Groups",
    instructions: "Display user groups as columns in your results",
    name: 'settings[displayUserGroupColumns]',
    on: settings.displayUserGroupColumns is defined ? settings.displayUserGroupColumns : null
}) }}